.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  border-radius: 10px;
  outline: none;
  height: 15.20rem;
  width: 50rem;
}

@media screen and (max-width: 770px) {
  .mymodal {
    width: 35rem;
  }
}

@media screen and (max-width: 414px) {
  .mymodal {
    width: 16.10rem;
    height: 30rem;
  }
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
